<%= form_with model: @todo_item do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :user_id %>
        <%= form.collection_select :user_id, @users, :id, :name %>
    </div>
    <div>
        <%= form.label :category %>
        <%= form.collection_select :category_id, @categories, :id, :name %>
    </div>
    <%= form.submit %>
<% end %>